body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 46, 46);
    background-image: url('https://res.cloudinary.com/fresco/image/upload/v1635693311/%D7%9D%D7%9F%D7%95%D7%92_f0roqi.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin-top: 0px;
    /* background-color: rgba(255, 255, 255, 0.158); */
}

.insideDivs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin: 10px;
    /* border-bottom: rgb(184, 129, 104) 1px solid; */
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gallery{
    width: 46vh;
    height: 36vh;
    border-radius: 100%;
    border: 2px solid #A58A7C;
    transition: opacity 1s;
}

.largeLogo{
    position: block;
    -ms-transform: translateY(-10vh);
    -webkit-transform: translateY(-10vh);
    -moz-transform: translateY(-10vh);
    -o-transform: translateY(-10vh);
    transform: translateY(-10vh);
    border-radius: 100%;
    width: 16vh;
    height: auto;
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
}


a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    
    a:hover{
      color: rgb(117, 211, 104);
    }

    .smallLogo{
        width: 4rem;
        height: 4rem;
    }

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
         }
    }
    

  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (min-height: 568px) {
    .largeLogo{
        -ms-transform: translateY(-65vh);
        -webkit-transform: translateY(-65vh);
        -moz-transform: translateY(-65vh);
        -o-transform: translateY(-65vh);
        transform: translateY(-65vh);
    }
  }
  @media screen and (min-height: 640px) {
    .largeLogo{
        -ms-transform: translateY(-60vh);
        -webkit-transform: translateY(-60vh);
        -moz-transform: translateY(-60vh);
        -o-transform: translateY(-60vh);
        transform: translateY(-60vh);
    }
  }
  @media screen and (min-height: 667px) {
    .largeLogo{
        -ms-transform: translateY(-57vh);
        -webkit-transform: translateY(-57vh);
        -moz-transform: translateY(-57vh);
        -o-transform: translateY(-57vh);
        transform: translateY(-57vh);
    }
  }

    /* On screens that are 600px or less, set the background color to olive */
    @media screen and (min-height: 736px) {
        .largeLogo{
            -ms-transform: translateY(-52vh);
            -webkit-transform: translateY(-52vh);
            -moz-transform: translateY(-52vh);
            -o-transform: translateY(-52vh);
            transform: translateY(-52vh);
        }
      }

      @media screen and (min-height: 823px) {
        .largeLogo{
            -ms-transform: translateY(-48vh);
            -webkit-transform: translateY(-48vh);
            -moz-transform: translateY(-48vh);
            -o-transform: translateY(-48vh);
            transform: translateY(-48vh);
        }
      }