body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 46, 46);
    background-image: url('https://res.cloudinary.com/fresco/image/upload/v1635687932/%D7%9C%D7%9C%D7%90_%D7%A9%D7%9D_1920_x_1080_px_1920_x_1080_px_yd99c5.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin-top: 0px;
    /* background-color: rgba(255, 255, 255, 0.158); */
}

.insideDivs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    margin: 10px;
    /* border-bottom: rgb(184, 129, 104) 1px solid; */
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gallery{
    width: 46vh;
    height: 36vh;
    border-radius: 100%;
    border: 2px solid #A58A7C;
    transition: opacity 1s;
}

.largeLogo{
    position: block;
    -ms-transform: translateY(280%);
    -webkit-transform: translateY(280%);
    -moz-transform: translateY(280%);
    -o-transform: translateY(280%);
    transform: translateY(280%);
    
    margin-bottom: 10px;
    border-radius: 100%;
    width: 16vh;
    height: auto;
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
}


a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    
    a:hover{
      color: rgb(117, 211, 104);
    }

    .smallLogo{
        width: 4rem;
        height: 4rem;
    }

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
         }
    }
    